<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>

<!--제이쿼리-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!--부트스트랩-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<!--자바스크립트파일 호출-->
<script type="text/javascript"> src = "./js_v01.js" </script>


<style>
    .total_wrap {
        display: flex;
    }

    .wrap {
        margin: 0 auto;
    }

</style>
<body>


<div class="total_wrap">
    <div class="wrap">

        <p>글쓰기</p>
        <textarea class="form-control" rows="10" id="main_text"></textarea>
    </div>
</div>


</body>
</html>