
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>

<!--제이쿼리-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!--부트스트랩-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<!--자바스크립트파일 호출-->
<script type="text/javascript" src="../static/js_v01.js"></script>

<!--style.css-->
<link rel="stylesheet" type="text/css" href="../static/style.css"/>


<body>
<div class="total_wrap">
    <div class="wrap">
        <p>글쓰기</p>
        <textarea class="form-control txt" rows="1" cols="60" id="main_title"
                  onkeyup="letterCalc();letterTrim();if_changed();save()"
                  autocomplete="off"></textarea>
        <br>
        <textarea class="form-control txt" rows="10" cols="60" id="main_text"
                  onkeyup="letterCalc();letterTrim();if_changed();save()"
                  autocomplete="off"></textarea>
        <br>
        <span>글자수:</span>
        <output type="number" id="letterNum" value="0">0</output>
        <!--        <input type="number" id="result" value="0" readonly>-->
        <span>자(공백포함) /</span>
        <output type="number" id="letterNum_trimmed" value="0">0</output>
        <!--        <input type="number" id="result" value="0" readonly>-->
        <span>자(공미포) </span>
        <br>
        <span>타이핑 수:</span>
        <span id="lc">0</span>
        <span>자</span>
        <button id="button_num_reset" onclick="num_reset()">리셋</button>
        <button id="button_reset" onclick="page_reset()">지우기(작동..하는데타이핑수까지 지워짐)</button>
    </div>
</div>


</body>
</html>